#python==3.7
pytest
ddt
cython
pip
#  - cudatoolkit=10.2
numpy
scipy
pandas>=1.1.0    # previously used was: 0.25.2
matplotlib
# notebook related
jupyter
notebook
jupyter_contrib_nbextensions
jupyter_nbextensions_configurator
#rapids==0.14
#graph related
networkx
# text related
nltk
gensim
spacy
#- textblob
wordcloud
# visualization related
ipympl
pytest-mpl
seaborn
bokeh
plotly
#- plotnine
#- ggplot
graphviz
#- tabulate
# geospatial related
proj
basemap
basemap-data-hires
geopandas
descartes # for geopandas
folium
selenium # for folium
    # science and math related
scipy
    # bayesian
arviz
    # ml/dl related
statsmodels
scikit-learn
scikit-posthocs
#scikit-optimize
gym
    # datasets
kaggle     # only needed for kaggle plugin
    # clouds
    #- awscli
    #- boto3
    # other
tqdm
  #  - scikit-learn
  #  - scikit-optimize
opencv
python-snappy
  #  - fastparquet
pyarrow
  #  - blas>=1=mkl
    #- r
    #- r-irkernel
    #- tini
    #- rapids
dask
    #- ipyparallel
hyperopt
    #- hyperas
confuse
visions
imagehash
    #- missingno
phik
bidict
    # code formatting
yapf
# **** required by pips
# next required by smac
gxx_linux-64 # required for smac
gcc_linux-64 # required for smac
swig # required for smac
# required by smac end
# required by tf
absl-py
wrapt
astunparse
termcolor
opt_einsum
gast
# required by tf ends
# required by tensorboard
grpcio
markdown
werkzeug
google-auth-oauthlib
# required by tensorboard
